/* General styles */


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.tittle {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 200px;
}

.button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #0070f3;
  color: #ffffff;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0051bb;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Button styles */
.addButton {
  background-color: #28a745;
}

.addButton:hover {
  background-color: #218838;
}

.editButton {
  background-color: #ffc107;
}

.editButton:hover {
  background-color: #e0a800;
}

.deleteButton {
  background-color: #dc3545;
}

.deleteButton:hover {
  background-color: #c82333;
}

.updateButton {
  background-color: #007bff;
}

.updateButton:hover {
  background-color: #0069d9;
}

.cancelButton {
  background-color: #6c757d;
}

.cancelButton:hover {
  background-color: #5a6268;
}

.addButton:disabled{
  background-color: var(--third-color);
}

.tableWrapper {
  max-height: 800px; /* Adjust this value based on your desired maximum height */
  overflow-y: auto;
}

.wideInput {
  width: 100%;
}

.table td input {
  margin: 0;
  padding: 0.5rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: transparent;
  transition: border-color 0.3s ease;
}