/* Center the entire form */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.form-input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.25rem;
  width: 100%;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.form-button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: var(--secondary-color);
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

.table th,
.table td {
  border: 2px solid var(--secondary-color);
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.table td input {
  margin: 0;
  padding: 0.5rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.table td input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.table td button {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table td button:hover {
  background-color: var(--secondary-color);
}


.addButton:hover {
  background-color: var(--secondary-color);
}

.addButton:disabled{
  background-color: var(--third-color);
}

.addButton{
  margin-left:2%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wideInput {
  width: 100%;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}


.tittle {
  font-size: 36px;
  font-weight: bold; 
  text-align: center;
}

