.container {
  display: flex;
  flex-wrap: wrap;
}

.engineer-container,
.update-container,
.add-engineer-container {
  flex-basis: 33.33%;
  padding: 10px;
}

.input-container {
  margin-bottom: 10px;
}

label {
  display: block;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}
